<section id="about-us" class="about-us section">
  <div class="container about-us-box-desk">
    <div class="about-text-wrapper">
      <h2 class="section-title">About Us</h2>
      <ul class="about-text-list">
        <li class="about-text-item">
          <p class="about-text">
            Welcome to our premium watch collection, where luxury and style meet
            functionality and precision. Our selection of timepieces embodies
            the very best in Swiss craftsmanship and engineering, ensuring that
            you'll always have a reliable and stylish accessory on your wrist.
          </p>
        </li>
        <li class="about-text-item">
          <p class="about-text">
            At our premium watch collection, we believe that a watch is more
            than just a timekeeping device &#8211; it's a statement piece that
            reflects your personality and style. So why settle for anything less
            than the best?
          </p>
        </li>
      </ul>
      <a href="#catalog" class="btn about-link">View catalog</a>
    </div>
    <picture>
      <source
        srcset="
          ./img/about/img_about_watch.jpg    1x,
          ./img/about/img_about_watch@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/about/img_about_watch_tab.jpg    1x,
          ./img/about/img_about_watch_tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/about/img_about_watch_mob.jpg    1x,
          ./img/about/img_about_watch_mob@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/about/img_about_watch.jpg"
        alt="black watch"
        class="about-img-watch"
      />
    </picture>
  </div>
</section>
