<section id="advertisement" class="advertisement container">
    <div class="section">
        <h2 class="section-title visually-hidden">Advertisement</h2>
        <div class="advertisement-card">
            <p class="advertisement-description">
                Choose <span class="advertisement-accent">your story</span>, making every moment unique. Time is your style,
                and we reveal it.
            </p>
            <a href="#contact-us" class="button advertisement-link">Contact Us</a>
        </div>
    </div>
</section>