<section id="advertisement" class="section">
    <div class="container">
        <div class="advertisement-container">
            <h2 class="advertisement-tittle visually-hidden">Advertisement</h2>
            <p class="advertisement-descr">
                Choose <span class="advertisement-accent">your story</span>, making
                every moment unique. Time is your style, and we reveal it.
            </p>
            <a href="#contact-us" class="advertisement-link">Contact Us</a>
        </div>
    </div>
</section>