<section id="catalog" class="catalog container">
  <div class="section">
    <h2 class="section-title">Catalog</h2>
    <ul class="catalog-link">
      <li class="catalog-link-link">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch-desktop-1x.png  1x,
              ./img/catalog/desktop/watch-desktop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />
          <source
            srcset="
              ./img/catalog/tablet/watch-tablet-1x.png  1x,
              ./img/catalog/tablet/watch-tablet-@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />
          <source
            srcset="
              ./img/catalog/mobile/watch-1x.png  1x,
              ./img/catalog/mobile/watch-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="../img/catalog/desktop/watch-desktop-1x.png"
            alt="watch"
            width="208"
            height="226"
          />
        </picture>
        <div class="link-text">
          <h3 class="catalog-link-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalo-link-text">€500</p>
        </div>
      </li>

      <li class="catalog-link-link">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch1-desktop-1x.png  1x,
              ./img/catalog/desktop/watch1-desktop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />
          <source
            srcset="
              ./img/catalog/tablet/watch1-tablet-1x.png  1x,
              ./img/catalog/tablet/watch1-tablet-@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />
          <source
            srcset="
              ./img/catalog/mobile/watch1-1x.png  1x,
              ./img/catalog/mobile/watch1-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="./img/watch1.png"
            width="208"
            height="226"
            alt=""
          />
        </picture>

        <div class="link-text">
          <h3 class="catalog-link-title">Garmin Marq Athlete</h3>
          <p class="catalo-link-text">€450</p>
        </div>
      </li>
      <li class="catalog-link-link">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch2-desktop-1x.png  1x,
              ./img/catalog/desktop/watch2-desktop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />
          <source
            srcset="
              ./img/catalog/tablet/watch2-tablet-1x.png  1x,
              ./img/catalog/tablet/watch2-tablet-@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />
          <source
            srcset="
              ./img/catalog/mobile/watch2-1x.png  1x,
              ./img/catalog/mobile/watch2-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="./img/watch2.png"
            alt=""
            width="208"
            height="226"
          />
        </picture>

        <div class="link-text">
          <h3 class="catalog-link-title">Garmin Descent MK1</h3>
          <p class="catalo-link-text">€680</p>
        </div>
      </li>
      <li class="catalog-link-link">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch3-dasktop-1x.png  1x,
              ./img/catalog/desktop/watch3-dasktop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />
          <source
            srcset="
              ./img/catalog/tablet/watch3-tablet-1x.png  1x,
              ./img/catalog/tablet/watch3-tablet-@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />
          <source
            srcset="
              ./img/catalog/mobile/watch3-1x.png  1x,
              ./img/catalog/mobile/watch3-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="./img/watch3.png"
            alt=""
            width="208"
            height="226"
          />
        </picture>

        <div class="link-text">
          <h3 class="catalog-link-title">Garmin D2 Delta PX</h3>
          <p class="catalo-link-text">€380</p>
        </div>
      </li>
      <li class="catalog-link-link image">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch4-desktop-1x.png  1x,
              ./img/catalog/desktop/watch4-desktop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />

          <source
            srcset="
              ./img/catalog/tablet/watch4-tablet-1x.png  1x,
              ./img/catalog/tablet/watch4-tablet=@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />

          <source
            srcset="
              ./img/catalog/mobile/watch4-1x.png  1x,
              ./img/catalog/mobile/watch4-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="../img/catalog/desktop/watch4-desktop-1x.png"
            alt=""
            width="208"
            height="226"
          />
        </picture>

        <div class="link-text">
          <h3 class="catalog-link-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalo-link-text">€400</p>
        </div>
      </li>
      <li class="catalog-link-link image">
        <picture>
          <source
            srcset="
              ./img/catalog/desktop/watch5-desktop-1x.png  1x,
              ./img/catalog/desktop/watch5-desctop-@2x.png 2x
            "
            media="(min-width: 1280px)"
            width="292"
            height="292"
          />

          <source
            srcset="
              ./img/catalog/tablet/watch5-tablet-1x.png  1x,
              ./img/catalog/tablet/watch5-tablet-@2x.png 2x
            "
            media="(min-width: 768px)"
            width="280"
            height="312"
          />
          <source
            srcset="
              ./img/catalog/mobile/watch5-1x.png  1x,
              ./img/catalog/mobile/watch5-@2x.png 2x
            "
            @media="(max-width: 767px)"
            width="208"
            height="226"
          />
          <img
            class="catalog-image"
            src="./img/watch5.png"
            alt=""
            width="208"
            height="226"
          />
        </picture>

        <div class="link-text">
          <h3 class="catalog-link-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalo-link-text">€395</p>
        </div>
      </li>
    </ul>
    <button class="btn catalog-btn" type="button">Show more</button>
  </div>
</section>
