<section id="contact-us" class="contact-us section">
  <div class="container">
    <h2 class="section-title">Contact us</h2>
    <div class="contact-us-form-img-container">
      <div class="contact-us-form-card">
        <p class="contact-us-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-us-form">
          <div class="contact-us-form-wrapper">
            <div class="contact-us-input-wrapper">
              <label class="contact-us-label" for="user-name"></label>
              <input
                type="text"
                class="contact-us-input"
                name="user-name"
                id="user-name"
                pattern="[a-zA-Zа-яА-ЯіІїЇєЄҐґ']+"
                placeholder="Name"
                title="Victoria"
                required
              />
            </div>
            <div class="contact-us-input-wrapper">
              <label class="contact-us-label" for="user-email"></label>
              <input
                type="email"
                class="contact-us-input"
                name="user-email"
                placeholder="Email"
                id="user-email"
                title="victoria@gmail.com"
                required
              />
            </div>
            <div class="contact-us-input-wrapper">
              <label class="contact-us-label" for="user-phone"></label>
              <div class="contact-us-input-wrapper">
                <input
                  type="tel"
                  class="contact-us-input"
                  name="user-phone"
                  id="user-phone"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                  title="xxx-xxx-xx-xx"
                  placeholder="+380"
                  required
                />
              </div>
            </div>
            <div
              class="contact-us-input-wrapper contact-us-input-wrapper-comment"
            >
              <label class="contact-us-label" for="user-comment"></label>
              <textarea
                class="contact-us-comment"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
                required
              ></textarea>
            </div>
            <button class="btn contact-us-button" type="submit">Send</button>
          </div>
        </form>
      </div>
      <picture>
        <source
          media="(min-width:1280px)"
          srcset="
            ./img/contact/stonewatch.jpg    1x,
            ./img/contact/stonewatch@2x.jpg 2x
          "
        />
        <source
          media="(min-width:768px)"
          srcset="
            ./img/contact/stonewatch-tab.jpg    1x,
            ./img/contact/stonewatch-tab@2x.jpg 2x
          "
        />
        <source
          media="(min-width:375px)"
          srcset="
            ./img/contact/stonewatch-mob.jpg    1x,
            ./img/contact/stonewatch-mob@2x.jpg 2x
          "
        />
        <img
          class="stonewatch"
          src="./img/contact/stonewatch.jpg"
          alt="watch"
        />
      </picture>
    </div>
  </div>
</section>
