<footer class="page-footer">
    <div class="container-info">
        <div class="page-info">
            <a class="logo" href="">watchcharm</a>
            <ul class="sotial-list">
                <li class="sotial-item">
                    <a class="sotial-link" href="https://www.instagram.com/goitclub/ ">
                        <svg class="icon-sotial" width="20" height="20">
                            <use href="./img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-item">
                    <a class="sotial-link" href="https://www.youtube.com/c/GoIT ">
                        <svg class="icon-sotial" width="20" height="20">
                            <use href="./img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="sotial-item">
                    <a class="sotial-link" href=" https://www.facebook.com/goITclub/ ">
                        <svg class="icon-sotial" width="20" height="20">
                            <use href="../img/sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a class="telefon" href="tel.+380684439426">+380 (68) 443-94-26</a>

        </div>

        <p class="text-info">Have the time of your life with our watches: where high-class craftsmanship meets
            impeccable design</p>
    </div>

    <div class="container-nav">
        <div class="page-nav">
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link" href="#hero">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about-us">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#catalog">Catalog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#sale">Sale</a></li>
                    <li class="nav-item"><a class="nav-link" href="#reviews">Reviews</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact-us">Contact Us</a></li>
                </ul>
            </nav>
            <address class="adress">1678 S. Pioneer Road Salt Lake City UT 84104</address>
        </div>

        <hr class="accent">

        <div class="rights-reserved">
            <p class="text-rights-reserved">&copy;2023 The Watch Spot. All rights reserved.</p>
            <ul class="rights-reserved-list">
                <li><a class="text-rights-link" href="">Terms of Service</a></li>
                <li><a class="text-rights-link" href="">Privacy Policy</a></li>
            </ul>
        </div>

    </div>

</footer>