<section class="header container">
  <h2>header-section</h2>
</section>

<!-- add ".is-open" to .mobile-menu -->
<div class="mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-button">
      <svg class="mobile-menu-close-button-icon">
        <use href="./img/sprite.svg#icon-close" />
      </svg>
    </button>
    <nav>
      <ul class="mobile-menu-nav-links-container">
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nav-link is-active">Home</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nav-link">About Us</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nasv-link">Catalog</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nav-link">Sale</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nav-link">Reviews</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="" class="mobile-menu-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-menu-social-links-container">
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.facebook.com/goITclub"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.instagram.com/goitclub"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
