<header class="header">
  <div class="container header-container">
    <nav class="navigation">
      <a id="home" href="" class="logo">watchcharm</a>
      <ul class="nav-links-container">
        <li class="nav-link-item">
          <a href="#home" class="nav-link is-active">Home</a>
        </li>
        <li class="nav-link-item">
          <a href="#about-us" class="nav-link">About Us</a>
        </li>
        <li class="nav-link-item">
          <a href="" class="nav-link">Catalog</a>
          <a href="#catalog" class="nav-link">Catalog</a>
        </li>
        <li class="nav-link-item">
          <a href="#sale" class="nav-link">Sale</a>
        </li>
        <li class="nav-link-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
        <li class="nav-link-item">
          <a href="#contact-us" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="social-links-container">
      <li class="social-link-item">
        <a href="https://www.facebook.com/goITclub" class="social-link">
          <svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="social-link-item">
        <a href="https://www.instagram.com/goitclub" class="social-link">
          <svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="social-link-item">
        <a href="https://www.youtube.com/c/GoIT" class="social-link">
          <svg class="social-link-icon">
            <use href="./img/sprite.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
    <button class="hamburger-button" data-menu-open>
      <svg class="hamburger-button-icon">
        <use href="./img/sprite.svg#icon-burger" />
      </svg>
    </button>
  </div>
</header>

<!-- add ".is-open" to .mobile-menu -->
<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-button" data-menu-close>
      <svg class="mobile-menu-close-button-icon">
        <use href="./img/sprite.svg#icon-close" />
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav-links-container">
        <li class="mobile-menu-nav-link-item">
          <a href="#home" class="mobile-menu-nav-link is-active">Home</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#about-us" class="mobile-menu-nav-link">About Us</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#catalog" class="mobile-menu-nasv-link">Catalog</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#sale" class="mobile-menu-nav-link">Sale</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#reviews" class="mobile-menu-nav-link">Reviews</a>
        </li>
        <li class="mobile-menu-nav-link-item">
          <a href="#contact-us" class="mobile-menu-nav-link">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="mobile-menu-social-links-container">
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.facebook.com/goITclub"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-facebook" />
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.instagram.com/goitclub"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-instagram" />
          </svg>
        </a>
      </li>
      <li class="mobile-menu-social-link-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="mobile-menu-social-link"
        >
          <svg class="mobile-menu-social-link-icon">
            <use href="./img/sprite.svg#icon-youtube" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
