<!-- Reviews -->
<section class="section" id="reviews">
  <div class="container">
    <h2 class="section-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-avatar"
          srcset="./img/reviews/john.jpg 1x, ./img/reviews/john@2x.jpg 2x"
          src="./img/reviews/john.jpg"
          alt="Portrait of John Wax"
          width="56"
        />
        <h3 class="reviews-name">John Wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>

      <li class="reviews-item close">
        <img
          class="reviews-avatar"
          srcset="
            ./img/reviews/victoria.jpg    1x,
            ./img/reviews/victoria@2x.jpg 2x
          "
          src="./img/reviews/victoria.jpg"
          alt="Portrait of Victoria Romashenko"
          width="56"
        />
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>

      <li class="reviews-item close-mobile">
        <img
          class="reviews-avatar"
          srcset="
            ./img/reviews/anastasia.jpg    1x,
            ./img/reviews/anastasia@2x.jpg 2x
          "
          src="./img/reviews/anastasia.jpg"
          alt="Portrait of Anastasia Trachuk"
          width="56"
        />
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
