<section id="sale" class="sale container">
    <div class="section">
        <h2 class="section-title">Sale</h2>
        <div class="section-wrapper">
            <div class="image-block">
                <ul class="image-collection-list">
                    <li class="collection-list-item">
                        <picture>
                            <source srcset="
                                      ./img/sale/front-watch-tab.png 1x,
                                      ./img/sale/front-watch-tab@2x.png 2x
                                    " 
                                    media="(min-width: 768px)"/>
                            <source srcset="
                                      ./img/sale/mob/front-watch-mob.png  1x,
                                      ./img/sale/mob/front-watch-mob@2x.png 2x
                                    " 
                                    media="(max-width: 767px)"/>
                            <img 
                            class="collection-image" 
                            src="./img/sale/front-watch-mob.png"
                            alt="Frontside watch illustration">
                        </picture>
                        </li>
                    <li class="collection-list-item">
                        <picture>
                            <source srcset="
                                      ./img/sale/front2-watch-tab.png 1x,
                                      ./img/sale/front2-watch-tab@2x.png 2x
                                    " 
                                    media="(min-width: 768px)"/>
                            <source srcset="
                                      ./img/sale/mob/front2-watch-mob.png  1x,
                                      ./img/sale/mob/front2-watch-mob@2x.png 2x
                                    " 
                                    media="(max-width: 767px)"/>
                            <img class="collection-image" src="./img/sale/mob/front2-watch-mob.png"
                                alt="Frontside watch illustration"></li>
                        </picture>
                    <li class="collection-list-item">
                        <picture>
                            <source srcset="
                                      ./img/sale/side-watch-tab.png 1x,
                                      ./img/sale/side-watch-tab@2x.png 2x
                                    " 
                                    media="(min-width: 768px)"/>
                            <source srcset="
                                      ./img/sale/mob/side-watch-mob.png  1x,
                                      ./img/sale/mob/side-watch-mob@2x.png 2x
                                    " 
                                    media="(max-width: 767px)"/>
                            <img class="collection-image" src="./img/sale/mob/side-watch-mob.png"
                                alt="Frontside watch illustration"></li>
                        </picture>
                    </li>
                    <li class="collection-list-item">
                        <picture>
                            <source srcset="
                                      ./img/sale/back-watch-tab.png 1x,
                                      ./img/sale/back-watch-tab@2x.png 2x
                                    " 
                                    media="(min-width: 768px)"/>
                            <source srcset="
                                      ./img/sale/mob/back-watch-mob.png  1x,
                                      ./img/sale/mob/back-watch-mob@2x.png 2x
                                    " 
                                    media="(max-width: 767px)"/>
                            <img class="collection-image" src="./img/sale/mob/back-watch-mob.png"
                                alt="Frontside watch illustration"></li>
                        </picture>
                        </li>
                </ul>
                <div class="main-collection-image">
                    <picture>
                            <source srcset="
                                      ./img/sale/main-watch-tab.png 1x,
                                      ./img/sale/main-watch-tab@2x.png 2x
                                    " 
                                    media="(min-width: 768px)"/>
                            <source srcset="
                                      ./img/sale/mob/main-watch-mob.png  1x,
                                      ./img/sale/mob/main-watch-mob@2x.png 2x
                                    " 
                                    media="(max-width: 767px)"/>
                            <img class="main-image" src="./img/sale/mob/main-watch-mob.png"
                                alt="Main watch illustration">
                        </picture>
                </div>
            </div>
            <div class="description-card-block">
                <h3 class="description-card-title">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
                <p class="product-tag">Product tag: 706587</p>
                <ul class="price-list">
                    <li class="price-list-item">
                        <p class="current-price">€1500</p>
                    </li>
                    <li class="price-list-item">
                        <p class="common-price">€3000</p>
                    </li>
                </ul>
                <p class="description-card-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise
                    AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
                <ul class="options-list">
                    <li class="options-list-item">
                        <p>Fused carbon fiber</p>
                    </li>
                    <li class="options-list-item">
                        <p>Grade-5 Titanuim</p>
                    </li>
                    <li class="options-list-item">
                        <p>Athlete</p>
                    </li>
                    <li class="options-list-item">
                        <p>Golfer</p>
                    </li>
                    <li class="options-list-item">
                        <p>Commander</p>
                    </li>
                    <li class="options-list-item">
                        <p>Adventurer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</section>