<section class="sale container">
    <div class="section">
        <h2 class="section-title">Sale</h2>
        <div class="section-wrapper">
            <div class="image-block">
                <ul class="image-collection-list">
                    <li class="collection-list-item"><img class="collection-image"
                            src="./img/sale/telegram-cloud-document-2-53980468003534434971.png" alt="Frontside watch illustration"
                            width="52"></li>
                    <li class="collection-list-item"><img class="collection-image"
                            src="./img/sale/telegram-cloud-document-2-53980468003534434871.png" alt="Frontside watch illustration"
                            width="52"></li>
                    <li class="collection-list-item"><img class="collection-image"
                            src="./img/sale/telegram-cloud-document-2-53980468003534434851.png" alt="Side watch illustration"
                            width="52"></li>
                    <li class="collection-list-item"><img class="collection-image"
                            src="./img/sale/telegram-cloud-document-2-53980468003534434871123.png" alt="Backside watch illustration"
                            width="52"></li>
                </ul>
                <div class="main-collection-image">
                    <img class="main-image" src="./img/sale/telegram-cloud-document-2-53980468003534434381121.png"
                        alt="Main watch illustration">
                </div>
            </div>
            <div class="description-card-block">
                <h3 class="description-card-title">MARQ&reg; Commander (Gen 2) - Carbon Edition</h3>
                <p class="product-tag">Product tag: 706587</p>
                <ul class="price-list">
                    <li class="price-list-item">
                        <p class="current-price">€1500</p>
                    </li>
                    <li class="price-list-item">
                        <p class="common-price">€3000</p>
                    </li>
                </ul>
                <p class="description-card-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise
                    AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
                <ul class="options-list">
                    <li class="options-list-item">
                        <p>Fused carbon fiber</p>
                    </li>
                    <li class="options-list-item">
                        <p>Grade-5 Titanuim</p>
                    </li>
                    <li class="options-list-item">
                        <p>Athlete</p>
                    </li>
                    <li class="options-list-item">
                        <p>Golfer</p>
                    </li>
                    <li class="options-list-item">
                        <p>Commander</p>
                    </li>
                    <li class="options-list-item">
                        <p>Adventurer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</section>