<section class="Sale container">
    <h2 class="sale-text">Sale</h2>
<div class="sale-container">
    <div class="ffootoo">
    <div class="sale-mini-foto">
        <ul class="foto-mini">
            <li class="sale-colection">
                <img class="sale-mini" src="../img/sale/telegram-cloud-document-2-5398046800353443497 1.png"
                 alt="watch monitor">
            </li>
            <li class="sale-colection">
                <img class="sale-mini"
                 src="../img/sale/telegram-cloud-document-2-5398046800353443487 1.png"
                 alt="watch monitor time">
            </li>
            <li class="sale-colection">
                <img class="sale-mini"
                 src="../img/sale/telegram-cloud-document-2-5398046800353443485 1.png"
                 alt="watch left">
            </li>
            <li class="sale-colection">
                <img class="sale-mini"
                 src="../img/sale/telegram-cloud-document-2-5398046800353443487 1123.png"
                 alt="watch back">
            </li>
        </ul>
    </div>
    <div class="sale-foto-big">
        <img class="sale-foto"
        a src="../img/sale/telegram-cloud-document-2-5398046800353443438 1121.png"
         alt="watch big exampel">
    </div>
    </div>
    <div class="section-text-sale">
        <div class="product-text-comander">
            <h3 class="marq-text">MARQ® Commander (Gen 2) - Carbon Edition</h3>
            <p class="product-text">Product tag: 706587</p>
        </div>
        <div class="border-price">
            <p class="sale-price">€1500</p>
        <p class="euro">€3000</p>
        </div>
        <div class="garmin">
            <p class="garmin-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features
            to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED
            touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
            </p>
        </div>
        <div class="text-mini">
            <p class="mini-text-class">Fused carbon fiber</p>
            <p class="mini-text-class">Grade-5 Titanuim</p>
            <p class="mini-text-class">Athlete</p>
            <p class="mini-text-class">Golfer</p>
            <p class="mini-text-class">Commander</p>
            <p class="mini-text-class">Adventurer</p>
        </div>
    </div>

</div>

</section>