.advertisement-container {
    padding: 60px 28px;
    background: #0C0C0C;
    background-image: url(../img/advertisement/advertisement-bg-mobile.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-resolution:192dpi) {
    .advertisement-container {
        background-image: url(../img/advertisement/advertisement-bg-mobile@2x.png);
    }
}

.advertisement-descr {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #FBFBFB;
    margin-bottom: 28px;
}

.advertisement-accent {
    color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    width: 160px;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #FBFBFB;
    transition: color 250ms linear, background-color 250ms linear;
}

.advertisement-link:hover,
.advertisement-link:focus {
    color: #0C0C0C;
    background: #FBFBFB;
}

@media only screen and (min-width:768px) {
    .advertisement-descr {
        font-size: 48px;
        margin-bottom: 32px;
        line-height: 0.92;
    }

    .advertisement-container {
        padding: 80px 64px;
        background-image: url(../img/advertisement/advertisement-bg-tablet.png);
        border-radius: 30px;
        max-width: 704px;
    }

    @media only screen and (min-resolution:192dpi) {
        .advertisement-container {
            background-image: url(../img/advertisement/advertisement-bg-tablet@2x.png);
        }
    }
}

@media only screen and (min-width:1280px) {
    .advertisement-container {
        max-width: 1150px;
        display: flex;
        gap: 140px;
        padding: 83px 80px;
        background-image: url(../img/advertisement/advertisement-bg-desktop.png);
    }

    @media only screen and (min-resolution:192dpi) {
        .advertisement-container {
            background-image: url(../img/advertisement/advertisement-bg-desktop@2x.png);
        }
    }

    .advertisement-descr {
        max-width: 690px;
        margin-bottom: 0;
    }
}