.advertisement-card {
   display: block;
   height: 363px;
   border-radius: 30px;
   padding: 60px 28px; 
   background-color: #0C0C0C;
}

.advertisement-description {
    display: block;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    margin-bottom: 28px;
}

.advertisement-accent {
    color: var(--opacity-text-color);
}

.button {
    display: block;
    max-width: 160px;
    min-height: 48px;
    border: 1px solid rgba(251, 251, 251, 0.15);
    border-radius: 16px;
    line-height: 0;
    padding: 15px 0;
}

.advertisement-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    text-align: center;
    color: #fbfbfb;
}






/* Коли почнете працювати видаліть цей стиль, він призначенний для тесту */