
.advertisement-container {
    padding: 60px 28px;
    background-color: var(--dark-bg-color);
    background-image: url(../img/advertisement/advertisement-bg-mobile.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-resolution:192dpi) {
    .advertisement-container {
        background-image: url(../img/advertisement/advertisement-bg-mobile@2x.png);
    }
}

.advertisement-descr {
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--light-text-color);
    margin-bottom: 28px;
}

.advertisement-accent {
    color: var(--opacity-text-color);
}

.advertisement-link {
    border: 1px solid rgba(251, 251, 251, 0.15);
    color: var(--light-text-color);
    transition: color var(--default-duration) var(--timing-function), background-color var(--default-duration) var(--timing-function);
}

.advertisement-link:hover,
.advertisement-link:focus {
    color: var(--secondary-text-color);
    background-color: var(--main-bg-color);
}

@media only screen and (min-width:768px) {
    .advertisement-descr {
        font-size: 48px;
        margin-bottom: 32px;
        line-height: 0.92;
    }

    .advertisement-container {
        padding: 80px 64px;
        background-image: url(../img/advertisement/advertisement-bg-tablet.png);
        border-radius: 30px;
        max-width: 704px;
    }

    @media only screen and (min-resolution:192dpi) {
        .advertisement-container {
            background-image: url(../img/advertisement/advertisement-bg-tablet@2x.png);
        }
    }
}

@media only screen and (min-width:1280px) {
    .advertisement-container {
        max-width: 1150px;
        display: flex;
        gap: 140px;
        padding: 83px 80px;
        background-image: url(../img/advertisement/advertisement-bg-desktop.png);
    }

    @media only screen and (min-resolution:192dpi) {
        .advertisement-container {
            background-image: url(../img/advertisement/advertisement-bg-desktop@2x.png);
        }
    }

    .advertisement-descr {
        max-width: 690px;
        margin-bottom: 0;
    }
}

