ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  h1,
  h2,
  h3,
  h4,
  p {
    padding: o;
    margin: 0;
  }
}
img {
  display: block;
}

.catalog-link-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
  margin-top: 0;
  overflow: hidden;
}
.catalog-title {
  margin-top: 0;
}
.catalog-link {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.catalog-link-link {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  width: 100%;
  background-color: #f3f3f3;
}
.cataloge-section {
  padding-top: 60px;
}
.link-text {
  padding: 28px 28px 24px;
}
.catalog-image {
  padding-top: 42px;
  padding-left: 64px;
  padding-right: 64px;
}
.catalo-link-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .catalog-btn {
    border-radius: 16px;
    width: 160px;
    height: 48px;
    background-color: #3350e9;
    border: none;
    color: #fbfbfb;
    text-align: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    transition: 500ms;
  }
  .catalog-btn:focus,
  .catalog-btn:hover {
    background: #1f3cd4;
  }
}

@media (max-width: 767px) {
  .image {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 32px;
    max-width: 768px;
  }
  .catalog-link-link {
    width: calc(100% / 2 - 16px);
  }
  .catalog-link-title {
    font-size: 20px;
    line-height: 1;
  }

  .catalog-title {
    margin-bottom: 40px;
  }
  .catalog-link {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 32px;
    align-items: center;
    justify-content: center;
  }

  .catalog-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 65px;
    max-width: 1280px;
  }
  .catalog-link-link {
    width: calc(100% / 3 - 23px);
  }
  .catalog-title {
    margin-left: 65px;
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
}
