.contact-us-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
  margin-top: 0;
}

.contact-us-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);

  margin: 0 0 28px 0;
}
@media screen and (min-width: 768px) {
  .contact-us-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}

.contact-us-form-img-container {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contact-us-form-img-container {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-form-img-container {
    display: flex;
    flex-direction: row;
  }
}
.contact-us-form-card {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #f3f3f3;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .contact-us-form-card {
    width: 704px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 122px;
    padding-right: 122px;
    border: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-form-card {
    min-width: 580px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.contact-us-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  padding-left: 14px;
  transition: border-color 250s linear;
}
@media screen and (min-width: 768px) {
  .contact-us-input {
    height: 52px;
  }
}
.contact-us-input:focus {
  border-color: #3350e9;
  outline: transparent;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #0c0c0c;
}
@media screen and (min-width: 768px) {
  ::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.contact-us-input-wrapper {
  margin-bottom: 18px;
}

.contact-us-comment {
  width: 100%;
  height: 84px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  resize: none;
  padding: 12px 14px;
  transition: border-color 250ms linear;
}
.contact-us-comment:focus {
  border-color: #3350e9;
  outline: none;
}
.contact-us-button {
  border-radius: 16px;
  background-color: #3350e9;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  display: block;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer;
  margin-top: 28px;
}
@media screen and (min-width: 768px) {
  .contact-us-button {
    height: 52px;
    width: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-button {
    margin-top: 32px;
  }
}

.contact-us-button:hover,
.contact-us-button:focus {
  background-color: #1f3cd4;
}
.contact-us-img-container {
  border-radius: 30px;
}
@media screen and (min-width: 768px) {
  .contact-us-img-container {
    border-radius: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-img-container {
    min-width: 530px;
  }
}
