.contact-us > .section {
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .contact-us > .section {
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .contact-us>.section {
    padding-bottom: 100px;
  }
}

.contact-us-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 0 28px 0;
}
@media screen and (min-width: 768px) {
  .contact-us-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-us-form-img-container {
    display: flex;
    gap: 40px;
  }
}
.contact-us-form-card {
  padding: 48px 28px;
  background-color: var(--card-bg-color);
  border-radius: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contact-us-form-card {
    max-width: 704px;
    padding: 50px 122px;
    border-radius: 50px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contact-us-form-card {
    max-width: 580px;
    max-height: 556px;
    padding: 50px 60px;
    margin-bottom: 0;
  }
}
.contact-us-input {
  width: 100%;
  height: 42px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  padding-left: 14px;
  transition: border-color var(--default-duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .contact-us-input {
    height: 52px;
  }
}
.contact-us-input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
  ::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}
.contact-us-input-wrapper {
  margin-bottom: 18px;
}

.contact-us-input-wrapper-comment {
  margin-bottom: 28px;
  height: 84px;
}
@media screen and (min-width: 768px) {
  .contact-us-input-wrapper-comment {
    margin-bottom: 32px;
    height: 90px;
  }
}
.contact-us-comment {
  width: 100%;
  height: 84px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  background-color: transparent;
  resize: none;
  padding: 12px 14px;
  transition: border-color var(--default-duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .contact-us-comment {
    height: 90px;
  }
}
.contact-us-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.contact-us .btn {
  width: 134px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .contact-us .btn {
    height: 52px;
    width: 160px;
  }
}

.contact-us-button {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  transition: background-color var(--timing-function) var(--default-duration);
}

.contact-us-button:hover,
.contact-us-button:focus {
  background-color: var(--accent-color-hover);
}

.stonewatch {
  width: 335px;
}

@media only screen and (min-width: 768px) {
  .stonewatch {
      width: 704px;
    }
}
@media only screen and (min-width: 1280px) {
  .stonewatch {
    border-radius: 50px;
      width: 530px;
    }
}