.page-footer {
  border-radius: 30px;
  padding: 40px 28px 28px 28px;
  margin: 0 auto;
  max-width: 335px;
  height: 581px;
  background: #0c0c0c;
  display: flex;
  flex-direction: column;
  gap: 92px;
}

.page-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.logo {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.sotial-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.sotial-item {
  width: 36px;
  height: 36px;
}
.sotial-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fbfbfb;
  opacity: 0.8;
  padding: 8px;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  transition: opasity 250ms;
}
.sotial-link:hover,
.sotial-link:focus {
  opacity: 1;
}
.telefon {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  padding: 14px 0;
}
.text-info {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.page-nav {
  display: flex;
  gap: 49px;
  align-items: baseline;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 147px;
  padding: 0;
  gap: 8px 16px;
}

.nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}
.adress {
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 1.33;
  color: #fbfbfb;
}
.accent {
  border-color: rgba(251, 251, 251, 0.1);
}

.text-rights-reserved {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
  margin: 24px 0 8px 0;
}
.rights-reserved-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.text-rights-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}
