.header {
  background-color: rgb(63, 151, 233);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url('/img/header/mobile-menu-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 330px;
  }
}
@media only screen and (max-width: 1279px) {
  .mobile-menu.is-open {
    display: block;
  }
}
@media only screen and (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)
      ),
      url('/img/header/mobile-menu-background@2x.jpg');
  }
}

.mobile-menu-container {
  height: 100%;
  margin: 0 20px;
  padding: 20px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-container {
    padding: 26px 0 50px;
    margin: 0 32px;
  }
}

.mobile-menu-close-button {
  background-color: transparent;
  line-height: 0;
  padding: 0;
  border: none;
  align-self: self-end;
}

.mobile-menu-close-button-icon {
  stroke: var(--main-bg-color);
  width: 34px;
  height: 34px;
}

.mobile-menu-nav-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--main-bg-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-nav-links-container {
    gap: 32px;
  }
}

.mobile-menu-nav-link {
  position: relative;
}

.mobile-menu-nav-link.is-active::after {
  position: relative;
  width: 8px;
  height: 8px;
  left: 50%;
  display: block;
  content: '';
  border: solid 4px var(--accent-color);
  border-radius: 50%;
  margin-top: 2px;
  transform: translateX(-50%);
}

.mobile-menu-social-links-container {
  display: flex;
  gap: 10px;
}

.mobile-menu-social-link-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-social-link {
    width: 36px;
    height: 36px;
  }
}

.mobile-menu-social-link-icon {
  flex-basis: 18px;
  height: 18px;
  fill: var(--main-bg-color);
}
@media only screen and (min-width: 768px) {
  .mobile-menu-social-link-icon {
    flex-basis: 20px;
    height: 20px;
  }
}
