.hero-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-title-main {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.text-color-blue {
  color: #3350e9;
}

.hero-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-bottom: 28px;
}

.hero-wrapper-avatar-scroll {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}

.hero-link-scroll {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
}

.hero-link-scroll:hover,
.hero-link-scroll:focus {
  color: #3350e9;
}

.hero-img-mainwatch {
  border-radius: 30px;
}

@media only screen and (min-width: 768px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .hero-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-wrapper-avatar-scroll {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .hero-title-main {
    font-size: 70px;
    line-height: 0.86;
    max-width: 557px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 480px;
  }

  .hero-link-scroll {
    font-size: 20px;
    line-height: 1;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-section {
    padding-bottom: 100px;
  }

  .hero-title-main {
    font-size: 72px;
    line-height: 0.88;
    max-width: 597px;
  }
}
