/* Reviews */

.reviews-title {
font-weight: 600;
font-size: 32px;
line-height: 1;
letter-spacing: -0.02em;
color: #0c0c0c;
margin-bottom: 24px;
}
.reviews-item {
background-color: var(--card-bg-color);
width: 335px;
border-radius: 30px;
padding: 32px 36px;
}
.close {
display: none;
}
.close-mobile {
display: none;
}
.reviews-avatar {
border-radius: 100%;
stroke: #fbfbfb;
margin-bottom: 24px;
margin-left: auto;
margin-right: auto;
}
.reviews-name {
font-weight: 500;
font-size: 16px;
line-height: 1.25;
letter-spacing: -0.02em;
text-align: center;
color: #0c0c0c;
margin-bottom: 8px;
}
.reviews-text {
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
text-align: center;
color: rgba(12, 12, 12, 0.4);
}

@media only screen and (min-width: 768px) {
.reviews-title {
font-size: 48px;
line-height: 0.92;
margin-bottom: 40px;
}
.reviews-name {
font-size: 18px;
line-height: 1.1;
}
.reviews-text {
font-size: 16px;
line-height: 1.25;
}
.close {
display: block;
}
.reviews-list {
display: flex;
gap: 16px;
}
.reviews-item {
width: calc((100% - 16px) / 2);
}
}
      
@media only screen and (min-width: 1280px) {
.reviews-item {
width: calc((100% - 40px) / 3);
}
.reviews-list {
gap: 20px;
}
.close-mobile {
display: block;
}
}